* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div,section {
    display: block;
}
.banner {
    width: 100%;
    height: 841px;
    background-image: url(img/Bitmap.png);
    background-repeat: no-repeat;	
    background-size: contain;
    background-attachment: fixed;
}
.text{
	text-align: center;

}
.section1{
	margin-top: 117px;
}
.section2{
	margin-top: 86px;
}
.section3{
	width: 100%;
    height: 841px;
    background-image: url(img/testimonials.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;
    background-attachment: fixed;
}